streamlit
pandas
openpyxl
scikit-learn
sqlalchemy
openai
langchain
langchain-openai
langchain-community
langchain-experimental
faiss-cpu
plotly
bcrypt
streamlit-authenticator
extra-streamlit-components